
html {
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
  }

  body{
    background-image: url("https://images.photowall.com/products/65920/hanging-palm-leaves-pink.jpg?h=699&q=85");
  
  }

header {
    background-color:pink;
    border-radius: 20px;
    border: 2px solid black;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
}

#header-img {
    height: 60px;
    width: 80px;
    padding: 15px;
    margin-left: 50px;
}

header h1 {
    color:black;    
    margin-top: 25px;
    margin-left: 140px;
}

#main{
    display: flex;
    flex-direction: row;
}

nav {
    width: 20%;
}

#article {
    width: 80%;
}

#nav-container{
    background-color:white;
    margin: 20px;
    border-radius: 20px;
    height: 30vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 80%; 
    overflow: auto;
  }
  
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}
  
li a.active {
    background-color:grey;
    color: white;
}
  
li a:hover:not(.active) {
    background-color:pink;
    color: white;
}

#body-container{
    background-color: pink;
    margin: 20px;
    border-radius: 20px;
    padding: 30px;
    min-height: 5vh;
    font-size: 15px;
    line-height: 1.5;
}
  
#body-container h1{
    font-size: 30px;
    text-align: center;
}


#sidepanel {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 25px;
    height: 60vh;
    width: 20%;
}


footer {
    background-color:pink;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: black ;
    font-size: 15px;
    font-weight: bold;
    
  }

